## Importing libraries

In [1]:
# Import libraries 
import pandas as pd
import numpy as np
import os

# Merging products_checked & orders_products_combined

## Importing dataframes

In [2]:
path = r'C:\Users\myra_\Documents\Instacart Basket Analysis 02-2023'

In [3]:
# Import the dataset 'orders_products_combined.pkl'
ords_prods_comb = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared data', 'orders_products_combined.pkl'))

In [4]:
# Import the dataset 'products_checked.csv'
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared data', 'products_checked.csv'))

## Checking the shape

In [5]:
ords_prods_comb.shape

(32434489, 9)

The shape is the same as the one I exported.

In [6]:
df_prods.shape

(49672, 6)

In [7]:
ords_prods_comb.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,40,382,29,1,15,23.0,10070,1,1
1,40,382,29,1,15,23.0,42450,2,1
2,40,382,29,1,15,23.0,33198,3,1
3,40,382,29,1,15,23.0,34866,4,1
4,214,503,5,0,16,9.0,5499,1,0

In [8]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
# Deleting 'Unnamed: 0' column because it is not needed
del df_prods['Unnamed: 0']

## Merging

In [10]:
df_ords_prods_merged = ords_prods_comb.merge(df_prods, on = 'product_id', how = 'outer', indicator = True)

In [13]:
df_ords_prods_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,40.0,382.0,29.0,1.0,15.0,23.0,10070,1.0,1.0,Organic 1% Low Fat Milk,84.0,16.0,5.9,both
1,235.0,58701.0,20.0,5.0,9.0,9.0,10070,7.0,1.0,Organic 1% Low Fat Milk,84.0,16.0,5.9,both
2,581.0,76141.0,3.0,6.0,17.0,7.0,10070,3.0,0.0,Organic 1% Low Fat Milk,84.0,16.0,5.9,both
3,649.0,135836.0,1.0,4.0,7.0,NaN,10070,1.0,0.0,Organic 1% Low Fat Milk,84.0,16.0,5.9,both
4,1662.0,2565.0,7.0,5.0,14.0,13.0,10070,10.0,1.0,Organic 1% Low Fat Milk,84.0,16.0,5.9,both

In [14]:
df_ords_prods_merged['_merge'].value_counts()

both          32404859
left_only        30200
right_only          11
Name: _merge, dtype: int64

## Saving the merged file in pickle

In [15]:
# Export data to pkl
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared data', 'orders_products_merged.pkl'))