### Import libraries

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

### Import files

In [2]:
customers = pd.read_pickle('customers2.pkl')

In [3]:
ords_prods = pd.read_pickle('orders_products_merged5.pkl')

In [4]:
ords_prods.shape

(32435059, 23)

In [5]:
customers.shape

(206209, 8)

## Merging the customer data with the rest of the prepared Instacart data

### Changing the data type of user_id

In [6]:
customers.head()

,user_id,gender,state,age,date_joined,number_of_dependants,marital_status,income
0,26711,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Female,Maryland,26,1/1/2017,1,married,40374

In [7]:
ords_prods.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,_merge,busiest_day,busiest_days_of_week,busiest_period_of_day,max_order,loyalty_flag,avg_order,spending_flag,median_days_order,Order_freq_flag
0,40.0,382.0,29.0,1.0,15.0,23.0,10070,1.0,1.0,Organic 1% Low Fat Milk,...,both,Regularly busy,Busiest days,Most orders,29.0,Regular customer,7.817925,Low spender,6.0,Frequent customer
1,235.0,58701.0,20.0,5.0,9.0,9.0,10070,7.0,1.0,Organic 1% Low Fat Milk,...,both,Regularly busy,Regularly busy days,Fewest orders,21.0,Regular customer,7.565289,Low spender,14.0,Regular customer
2,581.0,76141.0,3.0,6.0,17.0,7.0,10070,3.0,0.0,Organic 1% Low Fat Milk,...,both,Regularly busy,Regularly busy days,Average orders,27.0,Regular customer,8.006993,Low spender,12.0,Regular customer
3,649.0,135836.0,1.0,4.0,7.0,NaN,10070,1.0,0.0,Organic 1% Low Fat Milk,...,both,Least busy,Least busy days,Average orders,17.0,Regular customer,8.436000,Low spender,5.0,Frequent customer
4,1662.0,2565.0,7.0,5.0,14.0,13.0,10070,10.0,1.0,Organic 1% Low Fat Milk,...,both,Regularly busy,Regularly busy days,Most orders,11.0,Regular customer,8.279558,Low spender,15.0,Regular customer

In [8]:
ords_prods['user_id'].dtype

dtype('float64')

In [9]:
customers['user_id'].dtype

dtype('O')

In [10]:
# Changing 'user_id' data type from float64 to integer first, so that we could get rid of the decimal
ords_prods['user_id'] = ords_prods['user_id'].astype('int')

In [11]:
ords_prods['user_id'].dtype

dtype('int64')

In [12]:
ords_prods.head() # We can see that in user_id the decimals are gone and float has become an integer now

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,_merge,busiest_day,busiest_days_of_week,busiest_period_of_day,max_order,loyalty_flag,avg_order,spending_flag,median_days_order,Order_freq_flag
0,40.0,382,29.0,1.0,15.0,23.0,10070,1.0,1.0,Organic 1% Low Fat Milk,...,both,Regularly busy,Busiest days,Most orders,29.0,Regular customer,7.817925,Low spender,6.0,Frequent customer
1,235.0,58701,20.0,5.0,9.0,9.0,10070,7.0,1.0,Organic 1% Low Fat Milk,...,both,Regularly busy,Regularly busy days,Fewest orders,21.0,Regular customer,7.565289,Low spender,14.0,Regular customer
2,581.0,76141,3.0,6.0,17.0,7.0,10070,3.0,0.0,Organic 1% Low Fat Milk,...,both,Regularly busy,Regularly busy days,Average orders,27.0,Regular customer,8.006993,Low spender,12.0,Regular customer
3,649.0,135836,1.0,4.0,7.0,NaN,10070,1.0,0.0,Organic 1% Low Fat Milk,...,both,Least busy,Least busy days,Average orders,17.0,Regular customer,8.436000,Low spender,5.0,Frequent customer
4,1662.0,2565,7.0,5.0,14.0,13.0,10070,10.0,1.0,Organic 1% Low Fat Milk,...,both,Regularly busy,Regularly busy days,Most orders,11.0,Regular customer,8.279558,Low spender,15.0,Regular customer

In [13]:
# Changing the the data type to strings now
ords_prods['user_id'] = ords_prods['user_id'].astype('O')

In [14]:
ords_prods['user_id'].dtype

dtype('O')

Now that the data-type of user_id of both dataframes are the same, we can merge them

### Deleting unnecessary columns

In [15]:
# Deleting columns that are not needed
ords_prods = ords_prods.drop(['_merge', 'max_order', 'median_days_order', 'reordered'], axis=1)

In [16]:
ords_prods.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,product_name,aisle_id,department_id,prices,busiest_day,busiest_days_of_week,busiest_period_of_day,loyalty_flag,avg_order,spending_flag,Order_freq_flag
0,40.0,382,29.0,1.0,15.0,23.0,10070,1.0,Organic 1% Low Fat Milk,84.0,16.0,5.9,Regularly busy,Busiest days,Most orders,Regular customer,7.817925,Low spender,Frequent customer
1,235.0,58701,20.0,5.0,9.0,9.0,10070,7.0,Organic 1% Low Fat Milk,84.0,16.0,5.9,Regularly busy,Regularly busy days,Fewest orders,Regular customer,7.565289,Low spender,Regular customer
2,581.0,76141,3.0,6.0,17.0,7.0,10070,3.0,Organic 1% Low Fat Milk,84.0,16.0,5.9,Regularly busy,Regularly busy days,Average orders,Regular customer,8.006993,Low spender,Regular customer
3,649.0,135836,1.0,4.0,7.0,NaN,10070,1.0,Organic 1% Low Fat Milk,84.0,16.0,5.9,Least busy,Least busy days,Average orders,Regular customer,8.436000,Low spender,Frequent customer
4,1662.0,2565,7.0,5.0,14.0,13.0,10070,10.0,Organic 1% Low Fat Milk,84.0,16.0,5.9,Regularly busy,Regularly busy days,Most orders,Regular customer,8.279558,Low spender,Regular customer

### Merging the two dataframes

In [17]:
ords_prods.user_id = ords_prods.user_id.astype(str)
customers.user_id = customers.user_id.astype(str)

In [18]:
df_merged = ords_prods.merge(customers, left_on = 'user_id', right_on='user_id', how = 'outer', indicator=True)

In [19]:
ords_prods.shape

(32435059, 19)

In [20]:
customers[customers.user_id == '135836']

,user_id,gender,state,age,date_joined,number_of_dependants,marital_status,income
195988,135836,Female,Nevada,45,2/4/2020,2,married,106089

In [21]:
df_merged['_merge'].value_counts()

both          32435059
left_only            0
right_only           0
Name: _merge, dtype: int64

In [22]:
df_merged.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,product_name,aisle_id,...,spending_flag,Order_freq_flag,gender,state,age,date_joined,number_of_dependants,marital_status,income,_merge
0,40.0,382,29.0,1.0,15.0,23.0,10070,1.0,Organic 1% Low Fat Milk,84.0,...,Low spender,Frequent customer,Male,New Jersey,21,7/28/2019,2,living with parents and siblings,87994,both
1,116744.0,382,23.0,4.0,17.0,8.0,10070,3.0,Organic 1% Low Fat Milk,84.0,...,Low spender,Frequent customer,Male,New Jersey,21,7/28/2019,2,living with parents and siblings,87994,both
2,120295.0,382,27.0,0.0,8.0,13.0,10070,2.0,Organic 1% Low Fat Milk,84.0,...,Low spender,Frequent customer,Male,New Jersey,21,7/28/2019,2,living with parents and siblings,87994,both
3,247775.0,382,14.0,2.0,15.0,8.0,10070,2.0,Organic 1% Low Fat Milk,84.0,...,Low spender,Frequent customer,Male,New Jersey,21,7/28/2019,2,living with parents and siblings,87994,both
4,405284.0,382,15.0,1.0,11.0,6.0,10070,1.0,Organic 1% Low Fat Milk,84.0,...,Low spender,Frequent customer,Male,New Jersey,21,7/28/2019,2,living with parents and siblings,87994,both

### Export files

In [23]:
df_merged.to_pickle('customers_ords_prods.pkl')