## Import libraries

In [1]:
# Import libraries 
import pandas as pd
import numpy as np
import os

## Import orders_products_merged2.pkl

In [2]:
path = r'C:\Users\myra_\Documents\Instacart Basket Analysis 02-2023'

In [3]:
# Import the dataset 'orders_products_merged2.pkl'
orders_products_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared data', 'orders_products_merged2.pkl'))

## Creating subset of the first one million entries

In [4]:
# This will create a subset of the first million rows
df = orders_products_merged[:1000000]

In [5]:
df.shape

(1000000, 17)

In [6]:
df.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_day,busiest_days_of_week,busiest_period_of_day
0,40.0,382.0,29.0,1.0,15.0,23.0,10070,1.0,1.0,Organic 1% Low Fat Milk,84.0,16.0,5.9,both,Regularly busy,Busiest days,Most orders
1,235.0,58701.0,20.0,5.0,9.0,9.0,10070,7.0,1.0,Organic 1% Low Fat Milk,84.0,16.0,5.9,both,Regularly busy,Regularly busy days,Fewest orders
2,581.0,76141.0,3.0,6.0,17.0,7.0,10070,3.0,0.0,Organic 1% Low Fat Milk,84.0,16.0,5.9,both,Regularly busy,Regularly busy days,Average orders
3,649.0,135836.0,1.0,4.0,7.0,NaN,10070,1.0,0.0,Organic 1% Low Fat Milk,84.0,16.0,5.9,both,Least busy,Least busy days,Average orders
4,1662.0,2565.0,7.0,5.0,14.0,13.0,10070,10.0,1.0,Organic 1% Low Fat Milk,84.0,16.0,5.9,both,Regularly busy,Regularly busy days,Most orders

## Grouping and aggregating data

In [7]:
# This will group the dataframe by 'product_name' column
df.groupby('product_name')

In [8]:
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1.0              15.822195
4.0              17.430821
7.0              18.253272
12.0             14.220262
13.0             18.070881
14.0             18.796428
15.0             18.508101
16.0             18.533609

The table above shows the average number of orders in per department.

In [10]:
# Producing multiple statistics at the same time
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean  min   max
department_id
1.0              15.822195  1.0  99.0
4.0              17.430821  1.0  99.0
7.0              18.253272  1.0  99.0
12.0             14.220262  1.0  99.0
13.0             18.070881  1.0  99.0
14.0             18.796428  1.0  99.0
15.0             18.508101  1.0  99.0
16.0             18.533609  1.0  99.0

In [13]:
orders_products_merged['max_order'] = orders_products_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [15]:
orders_products_merged.head(15)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_day,busiest_days_of_week,busiest_period_of_day,max_order
0,40.0,382.0,29.0,1.0,15.0,23.0,10070,1.0,1.0,Organic 1% Low Fat Milk,84.0,16.0,5.9,both,Regularly busy,Busiest days,Most orders,29.0
1,235.0,58701.0,20.0,5.0,9.0,9.0,10070,7.0,1.0,Organic 1% Low Fat Milk,84.0,16.0,5.9,both,Regularly busy,Regularly busy days,Fewest orders,21.0
2,581.0,76141.0,3.0,6.0,17.0,7.0,10070,3.0,0.0,Organic 1% Low Fat Milk,84.0,16.0,5.9,both,Regularly busy,Regularly busy days,Average orders,27.0
3,649.0,135836.0,1.0,4.0,7.0,NaN,10070,1.0,0.0,Organic 1% Low Fat Milk,84.0,16.0,5.9,both,Least busy,Least busy days,Average orders,17.0
4,1662.0,2565.0,7.0,5.0,14.0,13.0,10070,10.0,1.0,Organic 1% Low Fat Milk,84.0,16.0,5.9,both,Regularly busy,Regularly busy days,Most orders,11.0
5,1185.0,112181.0,1.0,5.0,18.0,NaN,10070,2.0,0.0,Organic 1% Low Fat Milk,84.0,16.0,5.9,both,Regularly busy,Regularly busy days,Average orders,7.0
6,1628.0,163198.0,10.0,1.0,0.0,30.0,10070,3.0,1.0,Organic 1% Low Fat Milk,84.0,16.0,5.9,both,Regularly busy,Busiest days,Fewest orders,11.0
7,1269.0,163790.0,16.0,3.0,12.0,30.0,10070,14.0,1.0,Organic 1% Low Fat Milk,84.0,16.0,5.9,both,Regularly busy,Least busy days,Most orders,19.0
8,1511.0,191124.0,11.0,5.0,9.0,5.0,10070,4.0,1.0,Organic 1% Low Fat Milk,84.0,16.0,5.9,both,Regularly busy,Regularly busy days,Fewest orders,29.0
9,2518.0,7503.0,21.0,1.0,16.0,5.0,10070,19.0,1.0,Organic 1% Low Fat Milk,84.0,16.0,5.9,both,Regularly busy,Busiest days,Most orders,43.0
10,2648.0,11931.0,9.0,4.0,16.0,17.0,10070,1.0,1.0,Organic 1% Low Fat Milk,84.0,16.0,5.9,both,Least busy,Least busy days,Most orders,15.0
11,2166.0,15682.0,2.0,1.0,17.0,7.0,10070,6.0,1.0,Organic 1% Low Fat Milk,84.0,16.0,5.9,both,Regularly busy,Busiest days,Average orders,16.0
12,2830.0,68424.0,6.0,2.0,18.0,4.0,10070,1.0,1.0,Organic 1% Low Fat Milk,84.0,16.0,5.9,both,Regularly busy,Regularly busy days,Average orders,13.0
13,2771.0,68456.0,14.0,0.0,14.0,10.0,10070,5.0,1.0,Organic 1% Low Fat Milk,84.0,16.0,5.9,both,Busiest day,Busiest days,Most orders,23.0
14,3082.0,99786.0,30.0,2.0,16.0,1.0,10070,1.0,1.0,Organic 1% Low Fat Milk,84.0,16.0,5.9,both,Regularly busy,Regularly busy days,Most orders,56.0

A new “max_order” column has appeared at the end of the dataframe. Each value in this column corresponds to the maximum number of orders made by each user ID.

In [23]:
# Creating a flag that assigns a “loyalty” label to a user ID based on its corresponding max order value.
orders_products_merged.loc[orders_products_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
orders_products_merged.loc[(orders_products_merged['max_order'] <= 40) & (orders_products_merged['max_order'] > 10) , 'loyalty_flag'] = 'Regular customer'
orders_products_merged.loc[orders_products_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [24]:
orders_products_merged['loyalty_flag'].value_counts(dropna = False)

Regular customer    15891507
Loyal customer      10294027
New customer         6249525
NaN                       11
Name: loyalty_flag, dtype: int64

In [25]:
orders_products_merged[['user_id', 'max_order', 'loyalty_flag', 'order_number']].head(60)

     user_id  max_order      loyalty_flag  order_number
0      382.0       29.0  Regular customer          29.0
1    58701.0       21.0  Regular customer          20.0
2    76141.0       27.0  Regular customer           3.0
3   135836.0       17.0  Regular customer           1.0
4     2565.0       11.0  Regular customer           7.0
5   112181.0        7.0      New customer           1.0
6   163198.0       11.0  Regular customer          10.0
7   163790.0       19.0  Regular customer          16.0
8   191124.0       29.0  Regular customer          11.0
9     7503.0       43.0    Loyal customer          21.0
10   11931.0       15.0  Regular customer           9.0
11   15682.0       16.0  Regular customer           2.0
12   68424.0       13.0  Regular customer           6.0
13   68456.0       23.0  Regular customer          14.0
14   99786.0       56.0    Loyal customer          30.0
15  100720.0       55.0    Loyal customer          40.0
16  121882.0       17.0  Regular customer           1.0
17  190349.0       72.0    Loyal customer          19.0
18   21782.0       60.0    Loyal customer          31.0
19   48465.0        6.0      New customer           5.0
20   84604.0       31.0  Regular customer          27.0
21  137639.0       90.0    Loyal customer          88.0
22   34881.0       46.0    Loyal customer          10.0
23   36052.0       61.0    Loyal customer          21.0
24   66588.0       99.0    Loyal customer          29.0
25  120296.0       64.0    Loyal customer          42.0
26  172083.0        8.0      New customer           1.0
27   82208.0       23.0  Regular customer          23.0
28   84349.0       49.0    Loyal customer          19.0
29  117687.0       55.0    Loyal customer          20.0
30  145680.0       16.0  Regular customer           5.0
31  146015.0       58.0    Loyal customer          57.0
32  182455.0       11.0  Regular customer           2.0
33   77489.0       42.0    Loyal customer          28.0
34  175643.0       15.0  Regular customer           8.0
35  176866.0       14.0  Regular customer           4.0
36   63426.0       41.0    Loyal customer          36.0
37  185977.0       45.0    Loyal customer           4.0
38   25768.0        5.0      New customer           2.0
39  122498.0       21.0  Regular customer          11.0
40  146015.0       58.0    Loyal customer          39.0
41  204858.0        7.0      New customer           6.0
42  134730.0       81.0    Loyal customer          24.0
43  181456.0        9.0      New customer           7.0
44  194914.0       20.0  Regular customer          14.0
45   17108.0       34.0  Regular customer          21.0
46   17383.0       21.0  Regular customer          10.0
47   34794.0       32.0  Regular customer          30.0
48   44676.0       19.0  Regular customer           8.0
49   44903.0       66.0    Loyal customer          35.0
50   34794.0       32.0  Regular customer          25.0
51   73276.0       26.0  Regular customer          13.0
52  156042.0       18.0  Regular customer           6.0
53   36310.0       60.0    Loyal customer          59.0
54   97133.0       37.0  Regular customer          18.0
55  166434.0       40.0  Regular customer           4.0
56  186721.0       34.0  Regular customer          25.0
57  188398.0       12.0  Regular customer           6.0
58  200034.0       42.0    Loyal customer          34.0
59   88303.0       65.0    Loyal customer          32.0

There are nearly 11 rows in the dataset where there is no entry and so it is written 'Nan'. This is true for all the columns. I noticed the same thing in the previous task as well. Therefore, I am completely going to delete these rows from the table

In [28]:
orders_products_merged = orders_products_merged[orders_products_merged.loyalty_flag.notnull()]

MemoryError: Unable to allocate 2.90 GiB for an array with shape (12, 32435059) and data type float64

## Saving the file in pkl

In [29]:
# Export data to pkl
orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared data', 'orders_products_merged3.pkl'))

In [1]:
# continued in 4.8.2 script